@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body, html{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: #92805c;
}

.cabecalho{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

.perfil{
    display: flex;
    background-color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 10px; 
}

.primeira-img{
    width: 80%;
}

.HOME{
    display: flex;
    justify-content: center;
    background-color: #FFF;
    width: 10%;
    padding: 15px 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}

.baixo{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #92805c;
}


.principal{
    background-color: #2d4d38;
    padding: 10px 50px;
    padding-bottom: 50px;
}